{% extends 'base.html' %}
{% load static %}

{% block title %}User{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Profile</h3>
        {% if 'Create_user_add' in access.user_profile.screen_access or request.user.is_superuser %}
        <a href="/user_create" class="btn btn-primary" style="float: right;"> Add</a>
        {% endif %}
    </div>
    <div class="card-body">
      {% if 'Create_user_view' in access.user_profile.screen_access or request.user.is_superuser %}
        <table class="table">
            <thead>
            <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Date of Birth</th>
                <th>Profile Name</th>
                <th>Date of creation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for data in records %}

              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.user_name}}</td>
                <td>{{ data.date_of_birth}}</td>
                <td>{{ data.user_profile}}</td>
                <td>{{ data.created_at}}</td>
                <td>{{ data.status}}</td>
              </tr>
              {% endfor %}

                
            </tbody>
          </table>
          {% endif %}
    </div>
  </div><br>
{% endblock %}